* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.container-div {
  width: 1100px;
  margin: 100px;
  padding: 100px 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
  /*flex-direction: column-reverse;*/
  /*flex-wrap: wrap;*/
  flex-wrap: wrap-reverse;
}

.flex-item {
  width: 100px;
  border-radius: 10px;
  color: white;
  margin: 20px;
  background-color: blue;
  padding: 30px;
}

.container-flex {
  width: 1100px;
  margin: 100px;
  padding: 100px 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  /*flex-direction: row;*/
  /*flex-direction: column;*/
  flex-direction: column-reverse;
  /*flex-wrap: wrap;*/

}

.flex {
  width: 550px;
  border-radius: 10px;
  color: rgb(83, 81, 78);
  background-color: lawngreen;
  padding: 20px;
  margin: 20px;
}

.flex:hover {
  background-color: aqua;
  color: blue;
  cursor: pointer;
}